[Desktop Entry]
Version=1.0
Name=Astro Web Browser
GenericName=Web Browser
Comment=Access the Internet
Exec=/opt/oxy/astro/astro-browser %U
Terminal=false
Icon=astro-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/astro;
StartupNotify=true
StartupWMClass=astro-browser
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=/opt/oxy/astro/astro-browser

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/opt/oxy/astro/astro-browser --incognito
